.hederContainer {
  width: 100%;
  min-height: 64px;
  position: fixed;
  padding: 0px 20px 10px 20px;
  align-items: center;
  background-color: #ffffff;
  z-index: 50;
}
.hederContainer h1 {
  font-size: 55px;
  font-weight: 400;
}
.hederContainer p {
  font-size: 15px;
}
.hederTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
}
